html,
body {
  height: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #2c3e50;
  min-height: 100vh;
  /* margin-top: 60px; */
}
.span {
  font-size: 1rem;
}
.main-container > span {
  width: 25%;
  height: 4rem;
}
h1{
  color: #fff;
}